@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900'); // General Settings
@import './style/mixings.scss';
@import './style/variables.scss';

/* Main Tags
==================================== */
html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1; // 1 and 100% is the same
  font-family: 'Roboto', sans-serif; // General font-family
  color: #202020; // General text color 
  background-color: #fafafa; // Background color

  //FONT-SMOTH
  font-smooth: always;
  // MACOS
  -webkit-font-smoothing: antialised;
  // FIREFOX
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

.darkmode {
  header {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #282828;
    border-color: transparent;
  }
}

/* Header
==================================== */

header {
  border-bottom: solid 1px #ca2100;
  background-color: $generic-bg;
  -webkit-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 44px;
  z-index: 400;
  position: fixed;
  top: 0;
  width: 100%;

  // After 900pxs it will have...
  @include mq('900px') {
    padding: 0 10px; // box layout
  }

  nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;

    p,
    li {
      color: white;
    }

    div {
      &.logo {
        padding-left: 8px;
        grid-area: 1 / 1;

        // Logos image
        img {
          width: 24px;
        }
      }


      &.settings {
        grid-area: 1 / 2;
        text-align: right;

        ul {
          float: right;

          li {
            @include va;

            list-style-type: none;
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: cetner;
            vertical-align: middle;
            float: left;

            // Nice little Background.
            &:hover {
              border-radius: 3px;
              // Black with 0.2 opacity.
              background-color: rgba(255, 255, 255, 0.2);
            }

            &.settings__add {
              margin-right: 15px;
              font-size: 30px;
            }

            &.settings__dark-mode vsg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}



/* SideBar
==================================== */

.sidebar {
  @include no-select();
  width: 266px;
  height: calc(100vh);
  padding-top: 74px;
  position: fixed;
  overlay-x: hidden;
  overlay-y: hidden;
  border-right: $generic-border;
  background-color: #fafafa;

  @include mq('990px') {
    // Get rid of the side bar at 990px
    display: none;
  }

  li {
    padding-left: 10px;
    padding-right: 15px;

    &:hover .sidebar__project-delete {
      display: block;
    }
  }

  // concatenates, father with __project
  // sidebar__project
  &__project {
    padding: 5px 0;

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: #cacaca;
      }
    }


    //Being active or hover the project-delete part
    &.active,
    &:hover {
      font-weight: bold;
      background: white;
    }

    // For each child IN ORDER 
    // it will get a different color
    &:nth-child(1) {
      .sidebar__dot {
        color: #6accbc;
      }
    }

    &:nth-child(2) {
      .sidebar__dot {
        color: #fad003;
      }
    }

    &:nth-child(3) {
      .sidebar__dot {
        color: #ff8d85;
      }
    }

    &:nth-child(4) {
      .sidebar__dot {
        color: #ff9932;
      }
    }

    &:nth-child(5) {
      .sidebar__dot {
        color: #af38eb;
      }
    }
  }


  &__projects {
    padding-left: 3px;
  }

  &__project {
    @include va('left');
  }

  &__dot {
    margin-right: 10px;
    font-size: 30px;
  }

  &__middle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-bottom: $generic-border;
    padding-left: 10px;
    cursor: pointer;

    span {
      color: #0000008a;
      margin-right: 10px;

      // Svg Fa icon rotate, when hidden-projects is activate
      svg.hidden-projects {
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }


  &__generic {

    li {

      padding: 10px 0 10px 10px;
      list-style-type: none;
      color: #333;
      display: flex;
      cursor: pointer;
      line-height: 1.50;
      font-size: 15px;

      span:first-of-type {
        margin-right: 10px;

        svg {
          width: 18px;
          height: 18px;
          color: #555;
        }
      }

      &.active,
      &:hover {
        font-weight: bold;
        background-color: white;
      }
    }
  }
}



/* Delete modal.
  Not part of anyone it will appear.
==================================== */

.project-delete-modal {
  position: relative;

  &__inner {
    @include box-overlay();
    z-index: 99;
    width: 200px;
    padding: 10px;
    top: 10px;
    right: 0;
    background-color: white;

    p {
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: normal;
      font-weight: normal;
      font-size: 15px;
    }

    button {
      @include btn('50px');
    }

    span {
      @include cancel();
      font-weight: normal;
    }
  }
}



/* Content
==================================== */

.content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  max-width: 922px;
  margin: auto;
}


/* Tasks
==================================== */

.tasks {
  width: 656px;
  background-color: white;
  margin-left: 266px;
  border-right: $generic-border;
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 84px;

  //make responsive
  // when we get rid of the sidebar.
  @include mq('900px') {
    margin-left: 0;
    width: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  .add-task {
    margin-top: 20px;
  }

  &__list li {
    display: flex;
    line-height: 18px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;

    .checkbox-holder {
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16px;

      .checkbox {
        cursor: pointer;
        border-color: gray;
        color: #343434;
        height: 16px;
        width: 16px;
        display: block;
        border: 1px solid gray;
        border-radius: 16px;
      }
    }
  }
}